.container {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.upload {
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  margin: 15px;
  cursor: pointer;
  background-color: #2ecc71;
  border: none;
  color: white;
  font-size: 16px;
}
